html, body {
  min-height: 100%;
}

body {
  padding: 20px;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  background-size: 100% 100%;
}

h1 {
  font-family: 'Merriweather', Georgia, serif;
  margin: 0 0 20px;
  text-align: center;
  color: #000;
  font-weight: normal;
  font-size: 32px;
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  border-collapse: collapse;
  border-spacing: 0px;
}

tr:nth-child(odd) {
  background: #efefef;
}

tr:nth-child(even) {
  background: #fff;
}

th {
  font-family: Georgia, serif;
  background: #666;
  color: #fff;
  font-size: 1em;
}

td {
  vertical-align: top;
  border-top: 0;
  border-left: 0;
  padding: 10px;
  border-right: 1px dotted #ccc;
  border-bottom: 2px solid #ccc;
}

th {
  vertical-align: top;
  border:0;
  padding: 10px;
}

td {
  font-size: 1.1em;
}

.change {
  width: 60px;
}

a:link, a:visited {
  color: rgb(38, 196, 255);
  text-decoration: none;
}

a:hover, a:active {
  color: #000;
  text-decoration: none;
}

a.button, input[type="submit"] {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  font-weight: 700;
  font-size: 1em;
  display: inline-block;
  padding: 5px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 0px rgba(60,60,60,1), 0px 9px 25px rgba(50,50,50,.7);
  -moz-box-shadow: 0px 9px 0px rgba(60,60,60,1), 0px 9px 25px rgba(50,50,50,.7);
  box-shadow: 0px 9px 0px rgba(60,60,60,1), 0px 9px 25px rgba(50,50,50,.7);
  margin: 10px 0;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

a.button:active, input[type="submit"]:active {
  -webkit-box-shadow: 0px 3px 0px rgba(60,60,60,1), 0px 3px 6px rgba(50,50,50,.9);
  -moz-box-shadow: 0px 3px 0px rgba(60,60,60,1), 0px 3px 6px rgba(50,50,50,.9);
  box-shadow: 0px 3px 0px rgba(60,60,60,1), 0px 3px 6px rgba(50,50,50,.9);
  position: relative;
  top: 6px;
}

label, input {
  display: block;
  margin: 5px 0;
  font-size: 1em;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  border: 0;
  cursor: pointer;
  outline: 0;
}