<%= erb :'layouts/_header' %>

<h1>New Pigeon</h1>

<form action="/pigeons" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="gender">Gender</label>
  <input type="text" id="gender" name="gender">
  <label for="color">Color</label>
  <input type="text" id="color" name="color">
  <label for="lives">Lives</label>
  <input type="text" id="lives" name="lives">
  <input type="submit" value="create">
</form>

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>