<%= erb :'layouts/_header' %>

<h1>New Pigeon</h1>

<form class="" action="/pigeons" method="post">
<li>Input Name  :<input type="text" name="name" value=""></li>
<li>Input Color :<input type="text" name="color" value=""></li>
<li>Input Gender:<input type="text" name="gender" value=""></li>
<li>Input Lives :<input type="text" name="lives" value=""></li>
<input type="submit" name="create" value="create">
</form>

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>
